@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, input[type="text"],input[type="password"], input[type="email"], input[type="number"],textarea {
  caret-color: #000000;
}

#content {
  background-color: #22014d;
} 


#navigation {
  background-image: url("../../public/background/bg_vertical_dark_xl.JPG");
}


::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #2c2c2c; 
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d; 
}